body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 8px 8px 8px;
    overflow-wrap: anywhere;
    overflow: hidden;
    color: #212529;
    background-color: #F8F9FA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* ----- HEADER ----- */

header {
    display: none;
    width: 750px;
}

/* ----- MAIN ----- */

main {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 100%;
    padding: 8px 12px;
    overflow-y: auto;
    scrollbar-width: none;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    height: fit-content;
    padding: 22px 0;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 12px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 80%;
    width: fit-content;
    margin-left: auto;
    padding: 8px 12px;
    background-color: #E9ECEF;
}

.assistant {
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 100%;
    width: fit-content;
    margin-right: auto;
    padding: 8px 0;
}

/* ----- FOOTER ----- */

footer {
    width: 750px;
    height: fit-content;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #E9ECEF;
}

#userInput {
    width: 100%;
    max-height: 200px;
    resize: none;
}

/* ----- MARKDOWN ----- */

pre {
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: #E9ECEF;
}

code {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #E9ECEF;
    font-size: 14px;
}

ul, ol {
    list-style-position: inside;
}

/* ----- RESPONSIVE ----- */

@media (max-width: 766px) {

    body {
        padding: 0;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .inputContainer {
        border-radius: 12px 12px 0 0;
    }

}

/* ----- COLOR THEME ----- */

@media (prefers-color-scheme: dark) {

    body {
        color: #F8F9FA;
        background-color: #212529;
    }

    .user {
        background-color: #343A40;
    }

    .inputContainer {
        background-color: #343A40;
    }

    pre {
        background-color: #343A40;
    }

    code {
        background-color: #343A40;
    }

}